*
!/.gitignore
!/LICENSE
!/README.md
!/docs/
!/docs/images/
!/docs/images/finops-multitool-startup.png
!/docs/images/finops-multitool-workflow.png
!/FinOpsToolkit.psm1
!/en-US/
!/en-US/*.psd1
!/Public/
!/Public/*.ps1
!/Private/
!/Private/*.ps1
!/Private/FinOpsMultitool/
!/Private/FinOpsMultitool/*.ps1
!/Private/FinOpsMultitool/*.psm1
!/Private/FinOpsMultitool/README.md
!/Private/FinOpsMultitool/assets/
!/Private/FinOpsMultitool/assets/skeleton.pbit
!/Private/FinOpsMultitool/kpi/
!/Private/FinOpsMultitool/kpi/kpi-catalog.json
!/Private/FinOpsMultitool/modules/
!/Private/FinOpsMultitool/modules/*.ps1
!/Private/FinOpsMultitool/modules/helpers/
!/Private/FinOpsMultitool/modules/helpers/*.ps1
